<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Coordinates:</strong>
  <%= @shop.coordinates %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @shop.image_url %>
</p>

<%= link_to 'Back', shops_path %>
